<%inherit file="base.html"/>



<fieldset>
	<legend>Welcome to UWS's intel site.</legend>

	<fieldset>
		<legend>Updates:</legend>
			<ul>Added lvl 1 view. Only shows limited sector count and alliances that currently have war tags up.</ul>
			<ul>View sector now works similar to CC style where x,y can be entered with a comma or period.</ul>
			<ul>Added a sector area map that shows the surrounding sectors of the sector you are viewing.
				<ul>Green sectors belong to the player that also owns the sector you are viewing.</ul>
				<ul>Information added to the sector squares</ul>
				<ul>Map only generated for Lvl 2 and above access</ul>
			</ul>
			
	</fieldset><br>
	<fieldset>
		<legend>NOTE:</legend>
			If you have logged in but all the links on the left are redirecting you back to this page, your access has not been updated. Please message Xariec or Tyrindra to resolve the issue
	</fieldset><br>
	<fieldset>
		<legend>Intel Viewer</legend>
			Intel veiwer includes the following dropdowns.
				<li>Player - For viewing individual players, including a sector map. Green squares are ASp's area of effect</li>
				<li>Alliance - Shows all sectors controlled by the alliance. Map details are the same</li>
				<li>Score allows you to see the top 99 scores for the date chosen</li>
				<li>Sector allows you to see the top 99 sector count for the date chosen</li>
				<li>Compare two players allows you to view the sector map of two players at once.</li>
				<li>View sector is similar to the nav map in cc at lvl 2 but includes all details gathered for the sector and surrounding sectors</li>
				<fieldset>
					<legend>NOTE:</legend>
						<li>Lvl 1 users can only view 150 player sectors and 300 alliance sectors, no matter the sector count we have.</li>
						<li>Lvl 2 users can view all players and alliances other than "United We Stand"</li>
				</fieldset>
	</fieldset><br>
	<fieldset>
		<legend>Intel Upload | DB interactions | Admin</legend>
			This section is restricted and only available by the site admins.
	</fieldset>
</fieldset>