<%inherit file="base.html"/>
${self.errormsg('__all__')}
<h1>${self.pagename()}</h1>

<div>
<fieldset>
	<legend>Upload completed: </legend>
There are ${parsing[0]} new Rebel Sectors.<br/><br/>
There are ${parsing[1]} new Cenvi Sectors.<br/><br/>
There are ${parsing[2]} new Player Sectors.<br/><br/>
</fieldset>

<fieldset>
	<legend> Upload Warps:</legend>
<form method="POST" enctype="multipart/form-data" action="">
		<input type="file" name="myfile" />
		<br/><br/>
		<input type="submit" name="submit" value="Upload Warps" />
		</form>
</fieldset>
<br />
<fieldset>
	<legend> Upload Map:</legend>
<form method="POST" enctype="multipart/form-data" action="">
		For uploading a Map Image, please use the following time stamp "12-22-2014_AM/PM" depending on when the map is referencing.
		The Map is 12 hours behind so if you grab a screenshot at 1:00PM, the map you are seeing is from the AM time period of the same day.
		If you grab a screen shot before noon, then the map is of the PM period of the previous day.
		Time Stamp for map:<input type="text" name="utime">
		File you would like to upload:<input type="file" name="myfile" />
		<br/><br/>
		<input type="submit" name="submit" value="Upload Map" />
		</form>
</fieldset>
</div>



</body>
</html>

<%def name="pagename()">
Upload
</%def>