<%inherit file="base.html"/>


		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>
			$('legend').click(function() {
				console.log("Clicked");
				$('fieldset').toggleClass('close');
			});
		</script>
		
		
		<style>
			
			fieldset.close {
			  height: 0;
			  overflow: hidden;
			}

			fieldset {
			  height: auto;
			}
		</style>	


		
		
<%def name="options()">
	%for x in range(len(players)):
		<option  value="${players[x]}">${players[x]}</option>
	%endfor
</%def>

<%def name="alliances()">
	%for x in alliance:
			<option value="${x}">
	%endfor
</%def>
		
<%def name="relations()">
	<option value="Truce">
	<option value="Neutral">
	<option value="Enemy">
	<option value="Allie">
</%def>

<%def name="alias()">
	%for a in hw['alias']:
		<tr>
		<td width="250px">${a['Player']} </td>
		<td width="250px"> ${a['time']}</td>
		</tr>
	%endfor
</%def>

<%def name="list_scores()">
	<%
		scores = hw['score']
		scores = sorted(scores, key = lambda scores:scores['time'], reverse = True)
	%>
		%for a in scores:
			<tr>
				<td width="150px">${a['score']} </td>
				<td width="150px">${a['time']} </td>
			</tr>
		%endfor
</%def>


<%def name="sector_count()">
	<%
		sectors = hw['sector_count']
		sectors = sorted(sectors, key = lambda sectors:sectors['time'], reverse = True)
	%>
	%for a in sectors:
		<tr>
			<td width="150px">${a['sector']} </td>
			<td width="150px"> ${a['time']}</td>
		</tr>
	%endfor
</%def>

<%def name="grid()">
	%for a in range(0, 970, 100):
		ctx.beginPath();
		ctx.moveTo(${a},0);
		ctx.lineTo(${a},970);
		ctx.globalAlpha = 0.25;
		ctx.strokeStyle = "white";
		ctx.stroke();
	%endfor

	%for a in range(0, 970, 100):
		ctx.beginPath();
		ctx.moveTo(0,${a});
		ctx.lineTo(970,${a});
		ctx.globalAlpha = 0.25;
		ctx.strokeStyle = "white";
		ctx.stroke();
	%endfor
</%def>




<%def name="sector_map()">
	%for a in sector_list.rewind():
		%if a['asp'] == "YES":
			ctx.beginPath();
			ctx.globalAlpha = .5;
			ctx.rect(${a['x']*2-20}, ${a['y']*2-20},40,40);
			ctx.fillStyle = 'green';
			ctx.fill();
			ctx.strokeStyle = 'green';
			ctx.stroke();
		%endif
					
		ctx.beginPath();
		ctx.rect(${a['x']*2}, ${a['y']*2},2,2);
		ctx.fillStyle = 'blue';
		ctx.fill();
		ctx.strokeStyle = 'blue';
		ctx.stroke();
		
	%endfor
</%def>

<%
	count = sector_list.count()
	percentage = float(float(count) / float(hw['current_sectors']) *100)
%>


<%def name="list_sectors()">
	<%
	sectors = sector_list.rewind()
	sectors = sorted(sectors, key = lambda sectors:sectors['last_update'],reverse = True)
	%>
	
	%for a in sectors:

		<tr class="border_bottom">
			<td width="75px">${a['x']},${a['y']}</td>
			<td width="100px">${a['size']}</td>
			<td width="100px">${a['type']}</td>
			<td width="100px">${a['defense']}</td>
			<td width="250px">${a['last_scan']}</td>
			<td width="250px">${a['last_update']}</td>
			%if a['asp'] == "YES":
				<td width="50px">ASP</td>
			%endif
			%if a['sdi'] == "YES":
				<td width="50px">SDI</td>
			%endif
			%if a['wada'] == "YES":
				<td width="50px">WADA</td>
			%endif
			%if a['corporate_factory'] == "YES":
				<td width="50px">CF</td>	
			%endif
		</tr>
	%endfor

</%def>
<table width="1000px">
<tr>
<td>
<fieldset>
	<legend>Select Player</legend>
		<form action="" method="POST">
			<select name="player">
				${options()}
			</select>\
			<input type="submit" name="submit" value="View Player">

		</form>


		<fieldset>
				<legend>Player Details</legend>
					<table>
						<tr>
							<td width="500px">
								<table>
									<tr>
										<td width = "150px">Name</td><td width = "250px">${hw['pname']}</td>
									</tr>
									<tr>
										<td width = "150px">HomeWorld</td><td width = "250px">${hw['x']},${hw['y']}</td>
									</tr>
									<tr>
										<td width = "150px">Alliance</td>
										<td width = "250px">${hw['alliance']}</td>
									</tr>
									<tr>
										<td width = "150px">Relation</td>
										<td width = "250px">${hw['relation']}</td>
									</tr>
									<tr>
										<td width = "150px">Last Online</td>
										<td width = "250px">${hw['last_online']}</td>
									</tr>
									<tr>
										<td width = "150px">Score</td>
										<td width = "250px">${hw['current_score']}</td>
									</tr>
									<tr>
										<td width = "150px">Sector Count</td>
										<td width = "250px">${hw['current_sectors']}</td>
									</tr>
									<tr>
										<td width = "150px">Map %</td>
										<td width = "250px">
											
											${percentage}
										</td>
									</tr>

								</table>
							</td>
							<td>
								%if access >= 3:
									<form action="" method="POST">
									<table>
										<tr>
										
										<td>
											Update Name: 
										</td>
										<td>
											<input list="pname" name="pname">
												<datalist id="pname">
													<option value="${hw['pname']}" selected></option>
													${options()}
												</datalist>
										</td>
										<tr>
											<td width = "150px">Update Alliance</td>
											<td width = "250px">
												<input list="alliance" name="alliance">
													<datalist id="alliance">
														<option value="${hw['alliance']}" selected>
														${alliances()}
													</datalist>
											</td>
										</tr>
										<tr>
											<td width = "150px">Update Relation</td>
											<td width = "250px">
												<input list="relation" name="relation">
													<datalist id="relation">
														<option value="${hw['relation']}" selected>
														${relations()}
													</datalist>
											</td>
										</tr>
										<tr>
											<td width = "150px"></td>
											<td width = "250px">
											<input type="hidden" name="x" value="${hw['x']}">
											<input type="hidden" name="y" value="${hw['y']}">
											<input type="submit" name="submit" value="Update Player">
											</form>
									</table>							
								%endif
								
							</td>
						</tr>
					</table>
		</fieldset>

							<fieldset>
								<legend>Sector Map: ${count}</legend>
									<canvas id="player_sectors" width="940" height="940" style="border:1px solid #d3d3d3;"><br />
										Please open in Chrome to view map.
										<script>
											var c=document.getElementById("player_sectors");
											var ctx=c.getContext("2d");
											${sector_map()}
											${grid()}
										</script>
							</fieldset>
						</fieldset>
						<fieldset>
							<legend>Score & Sector Changes</legend>
							<table>
								<tr>
									<td>
									<fieldset>
										<legend> Score</legend>
											<table>
												<tr>
													<td width="200px">Score</td>
													<td width="200px"> Time</td>
												</tr>
												<tr>
													${list_scores()}
												</tr>
											</table>
									</fieldset>
									</td>
									<td>
									<fieldset>
										<legend>Sectors</legend>
											<table>
												<tr>
													<td width="200px">Sector Count</td>
													<td width="200px"> Time</td>
												</tr>
												<tr>
													${sector_count()}
												</tr>
											</table>
									</fieldset>
									</td>
								</tr>

							</table>
						<fieldset>
							<legend>Name Changes</legend>
							<table>
								<tr>
									<td width="250px">From</td>
									<td width="250px"> Time</td>
								</tr>
								<tr>
								${alias()}
								</tr>
							</table>
						</fieldset>
		</fieldset>
		<fieldset>
		<legend>Sector List:</legend>
			<table>
			<tr class="border_bottom">
				<td width="75px">X,Y</td>
				<td width="100px">Size</td>
				<td width="100px">Type</td>
				<td width="100px">Damage</td>
				<td width="200px">Last Scan</td>
				<td width="200px">Last Update</td>
				<td width="50px">ASP</td>
				<td width="50px">SDI</td>
				<td width="50px">WADA</td>
			</tr>
				${list_sectors()}
			</table>
		</fieldset>

</fieldset>
</td>

</tr>


</table>