<%inherit file="base.html"/>
${self.errormsg('__all__')}


<%def name="updates()">
	
</%def>

<%def name="Rebels()">
	%for a in rebel:
		<fieldset>
			<legend>${a['x']},${a['y']}</legend>
			Size : ${a['size']}<br />
			last Update : ${a['last_update']}<br />
			<fieldset>
				<legend> Updates</legend>
					%for b in a['updates']:
						<fieldset>
							<legend>${b['time']}</legend>
								Status : ${b['status']} <br />  Player : ${b['player']} <br />  Source : ${b['source']} <br />  User : ${b['user']}
						</fieldset>
					%endfor

			</fieldset>
			
		</fieldset>
	%endfor
	
</%def>


<fieldset>
	<legend> Rebel Sectors</legend>
		${Rebels()}
</fieldset>